@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --clockWidth: 90vmin;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #e1ebff, #cad9f8, #caf8f8, #caf8ec , #ccf0e6, #c0ead3, #c3eac0);
}

#clockContaier {

    /* can remove margin */
    margin-top: 5vmin;

    position: relative;
    width: var(--clockWidth);
    margin-inline: auto;
    aspect-ratio: 1;
    background-color: rgb(245, 222, 230);
    border-radius: 50%;
    box-shadow: 0px 10px 60px 5px rgba(50, 50, 93, 0.25), rgba(50, 50, 93, 0.25) 0px -30px 60px -12px inset ,rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.3) 0px -18px 36px -18px inset;
}

#clockhands,
#clockLabels {
    color: rgba(22, 21, 37, 0.786);
    position: absolute;
    height: var(--clockWidth);
    aspect-ratio: 1;
    top: 0;
}

#clockLabels>div {
    position: absolute;
    left: 45%;
    height: 96%;
    width: 10%;
    transform-origin: 50% 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    font-family: 'Caprasimo';
    font-size: 4vmin;
}


.hand {
    position: absolute;
    transform-origin: 50% 88%;
    left: 48%;
    top: 10%;
    width: 4%;
    height: 45%;

    background: rgb(120, 120, 120);
    display: inline-block;
    border-radius: 100% 100% 20px 20px;
}


#minhand {
    width: 3%;
    left: 48.5%;
    z-index: 3;
}

#sechand {
    background-color: rgb(198, 55, 55);
    width: 2%;
    z-index: 2;
    left: 49%;
}

#handCenter {
    position: absolute;
    z-index: 4;
    height: 6%;
    width: 6%;
    border-radius: 50%;
    background: black;
    top: calc(50% - 3%);
    left: calc(50% - 3%);
    box-shadow: inset 1px 1px 6px 1px rgba(224, 223, 223, 0.17);
}