:root {
    --clockWidth: 500px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(52, 50, 50);
    color: rgb(222, 219, 219);
}

#clockContaier {
    position: relative;
    width: var(--clockWidth);
    aspect-ratio: 1;
    background-color: rgb(95, 87, 87);
    border-radius: 50%;
}

#clockhands,
#clockLabels {
    position: absolute;
    height: var(--clockWidth);
    aspect-ratio: 1;
    top: 0;
}

#clockLabels>div {
    position: absolute;
    left: 47.5%;
    height: 96%;
    width: 5%;
    transform-origin: 50% 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


.hand {
    position: absolute;
    transform-origin: 50% 88%;
    left: 48%;
    top: 10%;
    width: 4%;
    height: 45%;

    background: rgb(120, 120, 120);
    display: inline-block;
    border-radius: 100% 100% 20px 20px;
}


#minhand {
    width: 3%;
    left: 48.5%;
    z-index: 3;
}

#sechand {
    background-color: rgb(198, 55, 55);
    width: 2%;
    z-index: 2;
    left: 49%;
}

#handCenter {
    position: absolute;
    z-index: 4;
    height: 6%;
    width: 6%;
    border-radius: 50%;
    background: black;
    top: calc(50% - 3%);
    left: calc(50% - 3%);
    box-shadow: inset 1px 1px 6px 1px rgba(224, 223, 223, 0.17);
}
